body{
    background-color: black;
}

#landing-header {
    /*z-index represent forward of backwards in the page(The other two axioms are x and y which is normal x and y)*/
    /*z index could forward the layer whose z index is less than 1*/
  z-index: 1;
  
  /*default is static, it would ignore z index, relative give us the layer structure*/
  position: relative;
  text-align: center;
  padding-top: 40vh;
}

#landing-header h1 {
  color: #fff;
}

.slideshow { 
  position: fixed;
  /*pic takes the entire page*/
  width: 100%;
  height: 100%;
  
  top: 0;
  left: 0;
  /*set z index less than 1, which is behind our background color whose z index is 1*/
  z-index: 0;
  /*do not show list mark(black dot)*/
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  /*The pic would not repeat if its original size is not enough to fit the whole background*/
  background-repeat: no-repeat;
  opacity: 0;
  /*place image behind background*/
  z-index: 0;
  /*animation type is image animation, last 50s, linear means speed of animation is constant, infinite means loop forever*/
  animation: imageAnimation 50s linear infinite; 
}

/*add pic*/
.slideshow li:nth-child(1) { 
  background-image: url(http://i.imgur.com/K3mPv14.jpg) 
}
.slideshow li:nth-child(2) { 
  background-image: url(http://i.imgur.com/SBEmFpv.jpg);
  /*delay determine the order of the animation happens, first one do not need any delay,it happens imediately*/
  /*from second one, each delay should increase 10 seconds*/
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(http://i.imgur.com/emvhOnb.jpg);
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(http://i.imgur.com/2LSMCmJ.jpg);
  animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(http://i.imgur.com/TVGe0Ef.jpg);
  animation-delay: 40s; 
}


/*define the animation*/
@keyframes imageAnimation { 
    /*0% to 10% means the percentage of total time which is 50 seconds this case*/
  0% { 
    /*fade-in in first 5 seconds*/
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    /*stay same in 5-10s*/
    animation-timing-function: ease-out;
  }
  20% {
    /*opacity detemines solid or disappear*/
    opacity: 1
  }
  30% {
    /*fade out in 10-15s*/
    opacity: 0
  }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}