.thumbnail img{
    width: 100%;
}
.thumbnail{
    padding: 0;
}

.thumbnail .caption-full{
    padding: 9px;
}

#delete-form{
    display:inline;
}

#loginbutton{
    margin-top: 20px;
    width: 30%;
    display: center;
}
