<% include ../partials/header %>



<div class = 'container'>
<header class = 'jumbotron'>
    <div class = 'container'>
    <h1>Camp Ground Page</h1>
    <p> The site to view campgrounds from users</p>
    <p>
        <a class = "btn btn-primary btn-large" 
        href = '/campGround/new'> Insert a new Camp Ground</a>
    </p>
    </div>
</header>


    <div>
        <h3>Most popular campgrounds</h3>
    </div> 
    <!--make grid align even pics are diff sizes-->
<div class = 'row text-center' style='display:flex; flex-wrap:wrap;'>
   
    


<% campgrounds.forEach(function(campground){ %>
    <div class = 'col-md-3 col-sm-6'>
        <div class = 'thumbnail'>
             
        
        <img src = '<%= campground.image %>'>
        <div class = 'caption'>
                <h4><%= campground.name %></h4>
        </div>
        <p>
            <a href='/campGround/<%=campground._id%>' class='btn btn-primary'>View more</a>
        </p>
        </div>
    </div>
<% }); %>

</div>
</div>

<% include ../partials/footer %>